<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="https://www.facebook.com/RrootshellIndia" target="_blank"><i class="fa fa-facebook"></i></a><a href="http://rrootshell.com/" target="_blank"><i class="fa fa-dribbble"></i></a>	<a href="https:www.youtube.com/rrootshellvideos" target="_blank"><i class="fa fa-youtube"></i></a>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- Footer -->
